<!DOCTYPE html>
<html lang="en">
<head>
	<Partial name="Partial/_Meta" />

	<Partial name="Partial/_Styles" />

	<Partial name="Partial/_Links" />

</head><!--/head-->

<body>
	
	<partial name = "Partial/_Header" />

	@RenderBody()

	<partial name = "Partial/_Footer" />

	<partial name = "Partial/_Scripts"/>

</body>
</html>